body {
  font-family: Google Sans;
  text-align: center;
  background-color: #f2f2f2;
}

h1 {
  color: #4CAF50;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
